
79/EXP_79_GEOMETRY_FEATURE_ARC.csv
79/EXP_79_GEOMETRY_FEATURE_LINEAR-1.csv
79/EXP_79_GEOMETRY_FEATURE_LINEAR-2.csv
79/EXP_79_GEOMETRY_MESH.stl
79/EXP_79_GEOMETRY_SECTION_ARC_0.csv
79/EXP_79_GEOMETRY_SECTION_ARC_1.csv
79/EXP_79_GEOMETRY_SECTION_ARC_10.csv
79/EXP_79_GEOMETRY_SECTION_ARC_11.csv
79/EXP_79_GEOMETRY_SECTION_ARC_12.csv
79/EXP_79_GEOMETRY_SECTION_ARC_13.csv
79/EXP_79_GEOMETRY_SECTION_ARC_14.csv
79/EXP_79_GEOMETRY_SECTION_ARC_15.csv
79/EXP_79_GEOMETRY_SECTION_ARC_16.csv
79/EXP_79_GEOMETRY_SECTION_ARC_17.csv
79/EXP_79_GEOMETRY_SECTION_ARC_18.csv
79/EXP_79_GEOMETRY_SECTION_ARC_19.csv
79/EXP_79_GEOMETRY_SECTION_ARC_2.csv
79/EXP_79_GEOMETRY_SECTION_ARC_20.csv
79/EXP_79_GEOMETRY_SECTION_ARC_21.csv
79/EXP_79_GEOMETRY_SECTION_ARC_22.csv
79/EXP_79_GEOMETRY_SECTION_ARC_23.csv
79/EXP_79_GEOMETRY_SECTION_ARC_24.csv
79/EXP_79_GEOMETRY_SECTION_ARC_25.csv
79/EXP_79_GEOMETRY_SECTION_ARC_26.csv
79/EXP_79_GEOMETRY_SECTION_ARC_27.csv
79/EXP_79_GEOMETRY_SECTION_ARC_28.csv
79/EXP_79_GEOMETRY_SECTION_ARC_29.csv
79/EXP_79_GEOMETRY_SECTION_ARC_3.csv
79/EXP_79_GEOMETRY_SECTION_ARC_30.csv
79/EXP_79_GEOMETRY_SECTION_ARC_31.csv
79/EXP_79_GEOMETRY_SECTION_ARC_32.csv
79/EXP_79_GEOMETRY_SECTION_ARC_33.csv
79/EXP_79_GEOMETRY_SECTION_ARC_34.csv
79/EXP_79_GEOMETRY_SECTION_ARC_35.csv
79/EXP_79_GEOMETRY_SECTION_ARC_36.csv
79/EXP_79_GEOMETRY_SECTION_ARC_37.csv
79/EXP_79_GEOMETRY_SECTION_ARC_38.csv
79/EXP_79_GEOMETRY_SECTION_ARC_39.csv
79/EXP_79_GEOMETRY_SECTION_ARC_4.csv
79/EXP_79_GEOMETRY_SECTION_ARC_40.csv
79/EXP_79_GEOMETRY_SECTION_ARC_41.csv
79/EXP_79_GEOMETRY_SECTION_ARC_42.csv
79/EXP_79_GEOMETRY_SECTION_ARC_43.csv
79/EXP_79_GEOMETRY_SECTION_ARC_44.csv
79/EXP_79_GEOMETRY_SECTION_ARC_45.csv
79/EXP_79_GEOMETRY_SECTION_ARC_5.csv
79/EXP_79_GEOMETRY_SECTION_ARC_6.csv
79/EXP_79_GEOMETRY_SECTION_ARC_7.csv
79/EXP_79_GEOMETRY_SECTION_ARC_8.csv
79/EXP_79_GEOMETRY_SECTION_ARC_9.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_0.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_1.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_10.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_11.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_12.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_13.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_14.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_15.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_16.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_17.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_18.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_19.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_2.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_20.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_21.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_22.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_23.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_24.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_25.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_26.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_27.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_28.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_29.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_3.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_30.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_31.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_32.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_33.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_34.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_35.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_36.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_37.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_38.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_39.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_4.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_40.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_41.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_42.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_43.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_44.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_45.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_46.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_47.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_48.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_49.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_5.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_6.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_7.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_8.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-1_9.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_0.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_1.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_10.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_11.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_12.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_13.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_14.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_15.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_16.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_17.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_18.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_19.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_2.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_20.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_21.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_22.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_23.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_24.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_3.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_4.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_5.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_6.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_7.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_8.csv
79/EXP_79_GEOMETRY_SECTION_LINEAR-2_9.csv
79/EXP_79_GEOMETRY_SPRINGBACK.csv
79/EXP_79_LOAD_MACHINE_BEND-DIE_LATERAL.csv
79/EXP_79_LOAD_MACHINE_BEND-DIE_ROTATING.csv
79/EXP_79_LOAD_MACHINE_BEND-DIE_VERTICAL.csv
79/EXP_79_LOAD_MACHINE_CLAMP-DIE_LATERAL.csv
79/EXP_79_LOAD_MACHINE_COLLET_AXIAL.csv
79/EXP_79_LOAD_MACHINE_COLLET_ROTATING.csv
79/EXP_79_LOAD_MACHINE_MANDREL_AXIAL.csv
79/EXP_79_LOAD_MACHINE_PRESSURE-DIE_AXIAL.csv
79/EXP_79_LOAD_MACHINE_PRESSURE-DIE_LATERAL.csv
79/EXP_79_LOAD_MACHINE_PRESSURE-DIE_LEFT_AXIAL.csv
79/EXP_79_LOAD_SENSOR_MANDREL_AXIAL.csv
79/EXP_79_LOAD_SENSOR_PRESSURE-DIE_LATERAL_1.csv
79/EXP_79_LOAD_SENSOR_PRESSURE-DIE_LATERAL_2.csv
79/EXP_79_MOVEMENT_MACHINE_BEND-DIE_LATERAL.csv
79/EXP_79_MOVEMENT_MACHINE_BEND-DIE_ROTATING.csv
79/EXP_79_MOVEMENT_MACHINE_BEND-DIE_VERTICAL.csv
79/EXP_79_MOVEMENT_MACHINE_CLAMP-DIE_LATERAL.csv
79/EXP_79_MOVEMENT_MACHINE_COLLET_AXIAL.csv
79/EXP_79_MOVEMENT_MACHINE_COLLET_ROTATING.csv
79/EXP_79_MOVEMENT_MACHINE_MANDREL_AXIAL.csv
79/EXP_79_MOVEMENT_MACHINE_PRESSURE-DIE_AXIAL.csv
79/EXP_79_MOVEMENT_MACHINE_PRESSURE-DIE_LATERAL.csv
79/EXP_79_MOVEMENT_MACHINE_PRESSURE-DIE_LEFT_AXIAL.csv
Untitled.numbers
79/EXP_79.csv
Kristof_1718531752.h264
.DS_Store
